.item-card {
    background-color: #fffcfc !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
    
    border: 2px solid rgba(0, 0, 0, 0.05) !important;
}

.item-card:hover {
    border: 3px solid rgba(250, 141, 141, 0.05) !important;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) !important;
}

.item-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid white;
}
